@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@300&display=swap');
* {
    background-color: transparent;
    font-family: 'Merriweather', serif;
    margin: 0%;
}

Header {
    position: relative;
    display: flex;
    text-align: center;
    justify-content: space-between;
    align-items: center;
    z-index: 1;
}

.Links a {
    
    text-decoration: none;
    color: #fff;
    margin: 20px;
    font-size: 20px;
}

.Links a:hover {
    color: #e0f74b;
    transition: 0.5s;
}


.Background{
    position: absolute;
    top:0;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.Background video{
    object-fit: cover;
    width: 100%;
    height: 100%;
    z-index: -1;
    filter: brightness(40%);
    pointer-events: all;
}

.original-logo{
    position: absolute;
    transition: 0.5s;
}   
.hovered-logo{
    position: relative;
    z-index: -1;
}
.original-logo:hover{
    opacity: 0;
    transition: 0.5s;
}

.original-login{
    position: absolute;
    transition: 0.5s;
}
.hovered-login{
    position: relative;
    z-index: -1;
}
.original-login:hover{
    opacity: 0;
    transition: 0.5s;
}
Footer{
    color: #909090;
    position: fixed;
    bottom: 1%;
    text-align: center;
    width: 100%;
}   
